name: Deploy

on:
  push:
    paths:
      - 'chart/**'
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy
    uses: Flaminel/universal-workflows/.github/workflows/chart.install.yml@main
    with:
      githubContext: ${{ toJSON(github) }}
    secrets:
      SECRETS_TOKEN: ${{ secrets.SECRETS_TOKEN }}